In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("./diabetes.csv")

In [ ]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
df['Outcome'].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [ ]:
#seperating tyhe data into thwo categories, diabetic, nondiabetic

diabetic = df[df.Outcome == 1]
nondiabetic = df[df.Outcome == 0]

print(diabetic.shape)
print(nondiabetic.shape)

(268, 9)
(500, 9)

Undersampling

this techniques takes the highly populated categopries and randomly matches the quantity to the other category

In [ ]:
diabetic_sample = diabetic.sample(n=268)
diabetic_sample.shape

(268, 9)

In [ ]:
new_df = pd.concat([diabetic_sample, nondiabetic], axis=0)

new_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
293,1,128,48,45,194,40.5,0.613,24,1
23,9,119,80,35,0,29.0,0.263,29,1
363,4,146,78,0,0,38.5,0.520,67,1
192,7,159,66,0,0,30.4,0.383,36,1
476,2,105,80,45,191,33.7,0.711,29,1

In [ ]:
new_df.tail(

)
new_df.shape

(768, 9)

In [ ]:
new_df['Outcome'].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64